.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 60px 15px;
}

.form-signin .form-control {
	margin-bottom: 10px;
}

.error .container {
	padding-top: 60px;
}

body.home {
  padding-top: 65px;
  padding-bottom: 20px;
}

body.admin {
  padding-top: 65px;
  padding-bottom: 20px;
}

.admin .row {
	margin-bottom: 20px;
}

.admin .form-group {
	margin-right: 20px;
}